<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297966099397-uho7fsecs08o9qqh7s6cdtojdljifvmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297966099397-uho7fsecs08o9qqh7s6cdtojdljifvmk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297966099397-ajpuc1kling8n1qs46eeo8n1b7sghl4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAyU6Prf5nl3nbCI8HdgM50_B_kEH5AWU</string>
	<key>GCM_SENDER_ID</key>
	<string>297966099397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoLoginOffice</string>
	<key>PROJECT_ID</key>
	<string>demologinoffice</string>
	<key>STORAGE_BUCKET</key>
	<string>demologinoffice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297966099397:ios:d499e0c185462cdb3709ac</string>
</dict>
</plist>